body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    background-color: #383838;
    color: #d9d9d9;
}

header, footer, nav, section {
    display: block;
}

nav {
    background-color: #3d3d3d;
    border-radius: 5px 5px 5px 5px;
}
h1 {
    color: #d9d9d9;
}

h2 {
    color: #d9d9d9;
}

a {
    color: #d9d9d9;
}

/* menu
-----------------------------------------------------------*/

ul#menu {
    text-align: center;
}

    ul#menu li {
        display: inline-block;
        list-style: none;
        color: #d9d9d9;
    }
        
        ul#menu li:hover {
            background-color: #550101;
        }

            ul#menu li a {
                background: none;
                text-decoration: none;
                color: #d9d9d9;
                height: 100%;
                padding-left: 10px;
                padding-right: 10px;
                display: inline-block;
                line-height: 50px;
            }

                ul li ul {
                    position: absolute;
                    display: none;
                    max-width: 150px;
                    padding: 0;
                }

                    ul li:hover ul {
                        display: block;
                        background-color: #3d3d3d;
                        margin: 0 auto;
                    }

                        ul ul li {
                            display: block;
                            width: 100%;
                            white-space: nowrap;
                        }

                            ul li ul a {
                                width: 100%;
                            }


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
