@model IEnumerable<FinalFantasy.Models.Site>

@{
    ViewBag.Title = "Games";
}

<h3>Browse Games</h3>
<p>
    Select from @Model.Count()
games:</p>
<ul>
    @foreach (var game in Model)
    {
        <li>@Html.ActionLink(game.SiteName, "Details", new {game = game.SiteName })</li>
    }
</ul>
