@model FinalFantasy.Models.Site

@{
    ViewBag.Title = "FinalFantasy1";
}

<h2>@Model.SiteName</h2>

<p>
    Final Fantasy 1 är ett RPG spel som är utvecklat av Squaresoft 1987. Spelet var tänkt som sista spelet för Square då företaget var
    nära konkurs under utvecklingen av detta spelet. Som tur var så sålde spelet så pass bra att så Square klarade sig ifrån en konkurs.
</p>

<h4>Uppbyggnad</h4>
<p>
    I detta spel så styr spelaren en grupp på fyra karaktärer. Varje karaktär kan öka i levels genom att man samlar på sig experience points 
    (erfarenhetspoäng) som man får från de strider man utkämpar runt om i världen mot olika monster. Spelaren går även igenom en berättelse 
    som man måste prata med olika karaktärer i spelet för att komma vidare i denna berättelse.
</p>
<p>
    När man börjar spelet så får man välja olika "yrken" (klasser) till sina karaktärer, man får även välja ett namn till varje karaktär. 
    Detta är inget som har någon inverkan på berättelsen i spelet utan detta märks bara av i de strider man utkämpar. När man har spelat 
    ett tag så kan karaktärerna bli uppgraderade till olika jobs och då får man olika förmågor beroende på vilket job man får. 
    Varje yrke har olika förmågor, till exempel heala andra karaktärer eller göra skada på fiender.
</p>
<h4>Klasser</h4>
<p>
    De olika klasserna är:
</p>
<ul>
    <li>
        Fighter
    </li>
    <li>
        Theif
    </li>
    <li>
        Black Belt
    </li>
    <li>
        Red Mage
    </li>
    <li>
        Black Mage
    </li>
    <li>
        White Mage
    </li>
</ul>
<p>
    De olika jobben är:
</p>
<ul>
    <li>
        Knight
    </li>
    <li>
        Ninja
    </li>
    <li>
        Master
    </li>
    <li>
        Red Wizard
    </li>
    <li>
        Black Wizard
    </li>
    <li>
        White Mage
    </li>
</ul>
<p>
    Spelet släpptes allra först till Nintendos Famicom i Japan men det översattes till engelska 1990 och släpptes då till NES. Spelet har 
    släppts till flera plattformar efter det med olika förbättringar men det senaste är till Game Boy Advanced 2004.
</p>

@Html.ActionLink("Gå till kommentarer", "Details", new {id = Model.SiteID })