@model FinalFantasy.Models.Site

@{
    ViewBag.Title = "FinalFantasy7";
}

<h2>@Model.SiteName</h2>

<p>
    Final Fantasy 7 är den sjunde delen i rollspelserien Final Fantasy av Squaresoft. Spelet släpptes först till Playstation 1997 
    men 1998 så konverterades det till Windows och blev det första spelet i serien som blev det. Det var även det första spelet i 
    serien som släpptes i Europa och dess framgångar innebar det definitiva genombrottet för japanska rollspel på den europeiska 
    marknaden.
</p>

<h4>Spelmekanik</h4>

<p>
    Spelets mekanik bygger vidare på de system som finns i tidigare spel.
</p>
<p>
    <strong>Stridssystem</strong>
</p>
<p>
    Striderna i detta spel är turbaserade och utkämpas genom ATB (Active Time Battle), där varje deltagare har en mätare som indikerar 
    hur lång tid det är kvar innan denna får attackera. De karaktärer som spelaren kan styra har ytterligare en mätare. Denna mätare 
    fylls när karaktären utsätts för attacker från fienden. När denna mätare är helt fylld så kan karaktären utföra en <em>Limit Break</em> 
    som är en kraftig offensiv eller defensiv attack. Alla figurers <em>Limit Break</em> skiljer sig från varandra, och efter olika 
    kriterier (antal besegrade fiender och antalet använda limit breaks) ges tillgång till mer storslagna varianter.
</p>
<p>
    <strong>Magisystem</strong>
</p>
<p>
    Magisystemet skiljer sig en del från både tidigare och senare delar av serien, men det är inte kopplat till rollfigurerna lika mycket 
    i andra delar. Alla figurer har fortfarande ett eget värde i hur starka magianvändare de är men beroende på vilka magier en en 
    karaktär kan använda styrs av vilken <em>materia</em> de har i kopplat till sitt vapen och vilken rustning karaktären har. Materia 
    är kristalliknande föremål som var och en kan utföra en specifik magi. Efter en strid belönas varje enskild materia med AP (Ability Points) 
    som till slut ger tillgång till mer kraftfulla versioner av samma magi, till exempel Fire 1 till Fire 2 etc. När en materia byter 
    karaktär tar den med sig förmågan att utföra magin samt sin AP. Det finns fyra olika huvudtyper av materia vilket utmärks av vilken 
    färg materian har.
</p>
<ul>
    <li>
        Grön materia - offensiv och defesiv magi, till exempel Ice, Wind och Fire respektive Cure och Barrier.
    </li>
    <li>
        Röd materia - låter den som har denna typ av materia att framkalla en så kallad Summon, som attackerar motståndaren (och i vissa fall hjälpa karaktärerna).
    </li>
    <li>
        Blå materia - modifierar en annan materia som den är länkad till.
    </li>
    <li>
        Gul materia - ger rollfiguren en ny färdighet, till exempel Steal och Morph.
    </li>
    <li>
        Lila materia - höjer värden hos karaktären. Exempel är HP plus och MP plus.
    </li>
</ul>
<p>
    <strong>Nivåsystem</strong>
</p>
<p>
    Efter avslutad strid så får alla rollfigurer ett visst antal EXP (Experience Points) som baseras på vilken typ av fiende man har 
    mött. Efter att spelaren har samlat på sig en viss mängd EXP går figurerna upp i level (Nivå). Mängden EXP som fodras för att öka 
    figurernas levle ökar en vid varje ny "Level up". Efter varje level up ökar rollfigurernas attribut och således blir de spelbara 
    figurerna hela tiden bättre i såväl fysisk som psykisk strid (Fysiska och psykiska attacker från karaktärerna gör mer skada samtidigt 
    som de blir mindre sårbara för detsamma). Spelaren börjar med en rollfigur på level 7 och en figur kan inte gå över level 99. 
</p>

<h4>Handling</h4>

<p>
    Spelet börjar i händelsernas mitt med att terroristgruppen Avalanche ska spränga en av de åtta mako-reaktorer som driver staden Midgar. 
    Staden har dessa mako-reaktorer föra att kunna dra lifestreamen ur jorden, detta gör att de kan driva hela staden med all dess elektronik. 
    Huvudpersonen Cloud, en före detta soldat som lämnat företaget Shinras armé och arbetar som legosoldat. Han har just anslutit sig till 
    gruppen. När han börjar arbeta för Avalanche märker han att det trots allt finns vissa ideal han är beredd att kämpa för.
</p>

@Html.ActionLink("Gå till kommentarer", "Details", new {id = Model.SiteID })