@model FinalFantasy.Models.Site

@{
    ViewBag.Title = "FinalFantasy5";
}

<h2>@Model.SiteName</h2>

<p>
    Final Fantasy 5 är den femte delen i spel - serien Final Fantasy och kom ut 1992 av Square. Spelet släpptes först till SNES i 
    Japan. Det har blivit portat till med några små skillnader till Sony's Playstation och Nintendo's Game Boy Advanced. En förbättrad 
    portning av spelet, med ny hög upplösning och touch - funktioner, släpptes till iPhone och iPad 2013, med ett Android släpp kort därefter.
</p>
<p>
    Spelet börjar med att en vandrare vid namn Bartz undersöker en meteor som har fallit ner. Där träffar han på ett antal karaktärer, 
    speciellt en som avslöjar faran med de fyra kristallerna som kontrollerar världens element. Dessa kristaller agerar som en försegling 
    på Exdeath, en ond trollkarl. Bartz och hans medlemmar måste skydda kristallerna från att bli utnyttjade av Exdeath's påverkan och 
    förhindra hans återuppvaknande.
</p>

<h4>Gameplay</h4>


@Html.ActionLink("Gå till kommentarer", "Details", new {id = Model.SiteID })