@{
    ViewBag.Title = "Om";
}

<h2>Om</h2>

<p>
    Square Enix är ett japankt företag som främst gör Tv - och datorspel, men de har även gjort en del anime. Square Enix gör främst RPG och är ett av de ledande företagen inom 
    genren. De har till exempel gjort Final Fantasy - serien och Dragon Quest - serien. Final Fantasy har kommit ut i 14 delar, och Dragon Quest har snart sin tionde.
</p>

<h4>Historia</h4>

<p>
    Square Enix bildades genom en sammansalgning av Square och Enix den första April 2003. Det var Enix som köpte upp Squar men Square fick ändå den ledande rollen imon det 
    nybildade företaget. Till exempel så var det Squares ordförande Yoishi Wada som blev ordförande för Square Enix.
</p>
<p>
    År 2005 köpte Square Enix upp det japanska företaget Taito och den 22 April 2009 blev företaget också ägare av Eidos plc, som var ägare av Eidos Interactive. Eidos plc gick 
    upp i Square Enix Europe och alla nya spel som tidigare publicerades av Eidos, kommer att publiceras av Square Enix eller Square Enix Europe. Alla spel som utvecklades innan 
    uppköpet kommer fortfarande att publiceras av Eidos Interactive.
</p>