@model FinalFantasy.Models.Image

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<p>
    Är du säker på att du vill ta bort denna kommentar 
    <strong>@Model.Name</strong>
</p>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Ta bort" /> |
        @Html.ActionLink("Gå tillbaka", "Gallery", "Home")
    </p>
}