@model IEnumerable<FinalFantasy.Models.Image>

@{
    ViewBag.Title = "Gallery";
}

<h2>Galleri</h2>

<div>
    @ViewData["Error"]
</div>
<p class="button">
    @Html.ActionLink("Ladda upp bilder", "Upload", "Home")
</p>
<table border="1">
<thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="~/images/@item.Name" width="200" height="200" />
                <p>@Html.ActionLink("Ta bort", "Delete", new { id=item.ImageID })</p></td>
            <td>@item.Name</td>
        </tr>
    }
</tbody>
</table>